<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    
    <title>Grandma's Recipe Box</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="login.html"> Login </a></li>
          <li><a href="register.html"> Register </a></li>
        </ul>
      </nav>
    </header>
    <main>
        <h1>Welcome to Grandma's Recipe Box!</h1>
    </main>
    <footer>
      <span id="copyright"> &copy; BrAVo Team Enterprises </span>
    </footer>
  </body>
</html>

