<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Lora&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <title>Grandma's Recipe Box</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav class="react-nav"></nav>
    <main class="tomatoes">
        <div class="container">
            <h2>Grandma's Recipe Box</h2>
            <p>Find & Share Great Recipes with Ease</p>
            <form action="{{ url_for('login') }}">
                <button type="submit">Start Cooking!</button>
            </form>
        </div>

    <script type="text/babel">
        class App extends React.Component {
            render() {
                return(
                    <div class="navbar">
                        <a href="#">Home</a>
                        <a href="{{ url_for('dashboard') }}">Dashboard</a>
                        <a href="{{ url_for('notes') }}">My Recipes</a>
                    </div>
                );
            }
        }
        ReactDOM.render(<App />, document.querySelector(".react-nav"));
    </script>
</body>
</html>

