<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Lora&display=swap" rel="stylesheet">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <main class="table">
    <div class="container">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <h2>Login</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {{ form.username.label }} {{ form.username(size=20, autocomplete="off") }}
            {{ form.password.label }} {{ form.password(size=20, autocomplete="off") }}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? We got you! <a href="{{ url_for('register') }}">Sign up here</a>.</p>
    </div>
    </main>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $(".alert").fadeOut("slow");
            }, 3000); // Hides the flash message after 1 second
        });
        </script>    
</body>
</html>
