.register-container {
  font-family: 'Lora', sans-serif;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
  animation: fadeIn 1s forwards;
  margin-top: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

h2 {
  font-family: 'Lobster', sans-serif;
  color: #343a40;
  animation: fadeIn 1s forwards 0.5s;
}

input, textarea {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  animation: fadeIn 1s forwards 1.1s;
}

button {
  background-color: #77312B;
  font-family: 'Lora', sans-serif;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  animation: fadeIn 1s forwards 1.4s;
  transition: background-color 0.3s;
  margin-top: 15px;
}

button:hover {
  background-color: #320e0b;
}

a {
  text-decoration: none;
  color: #77312B;
  animation: fadeIn 1s forwards 1.7s;
  transition: color 0.3s;
}

a:hover {
  text-decoration: underline;
  color: #320e0b;
}
